.partner-down {
    background: #0097FA;
    padding: 30px;
    position: relative;
    margin-bottom: 45px;
}

.partner-down:before,
.partner-down:after {
    content: " ";
    display: table;
}


.partner-down:after {
    content: '';
    border: 12px solid transparent;
    border-top-color: #0097FA;
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -12px;
    z-index: 9;
}