.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-wrapper{
    transition: all 800ms ease 0s !important;
}

.swiper-pagination{
    position: static;
    margin: 5px auto;
}
.swiper-pagination-bullet {
    background: #ADB2B5 !important;
    height: 6px !important;
    width: 18px !important;
    border-radius: 2px !important;
    margin: 0 4px;
}

.swiper-pagination-bullet-active {
    background-color: #0097FA !important;
}

.swiper-button-next{
    transform: scale(.7);
    background: rgb(255, 255, 255) !important;
    padding: 30px;
    color: rgb(86, 86, 86);
    filter: drop-shadow(3px 2px 4px rgba(0, 0, 0, 0.29))!important;
}
.swiper-button-prev {
   transform: scale(.7);
    background: rgb(255, 255, 255) !important;
    padding: 30px;
    color: rgb(86, 86, 86);
    filter: drop-shadow(3px 2px 4px rgba(0, 0, 0, 0.29))!important;
}
.swiper-button-next:hover{
    background: #0097FA !important;
    color: #fff !important;
    transition: all 300ms ease 0s !important;
}
.swiper-button-prev:hover{
    background: #0097FA !important;
    color: #fff !important;
    transition: all 300ms ease 0s !important;
}